{% extends "layouts/base.html" %} {% block title %}{{title}}{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block content %}
<div class="text-center">
  <h1>{{ title }}</h1>
  <div id="app" class="container"></div>
  <p>
    Your opponent, Connie, is a neural network with two internal dense layers
    and 300 internal neurons.
  </p>
  <p>
    She's played approximately 40,000 games more than you have, but on the other
    hand she knows nothing about the rules - She's learnt to play by building a
    mental model of which actions in which situations lead to winning the game.
  </p>
</div>

{% endblock %}
