.btn {
  background-color: rgb(102, 153, 255);
  width: 50px;
}

.btn-block {
  background-color: rgb(102, 153, 255);
  width: 200px;
}

img.results-img {
  float: left;
  height: 100px;
}

#footer {
  margin-top: 100px;
}
p {
  font-family: monospace;
  font-size: xx-large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
  height: 50px;
  width: 50px;
}

.counter {
  border: solid black 1px;
  border-radius: 50%;
  height: 70%;
  width: 70%;
}

.counter-0 {
  background-color: red;
}

.counter-1 {
  background-color: yellow;
}
